{% extends "shop/base.html" %}
{% load i18n %}

{% block title %} {% translate "Сброс Вашего пароля" %} {% endblock %}

{% block content %}
    <div class="menu-down-content-items" style="margin:80px">
        <h1>{% translate "Забыли пароль?" %}</h1>
        <p>{% translate "Введите Ваш электронный адресс для получения нового пароля." %}</p>
        <form action="." method="post">
            {{ form.as_p }}
            <p><input type="submit" value={% translate "Отправить письмо" %}></p>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}