{% extends 'shop/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div id="right-bar-small" class="right-bar">
    {% include 'shop/samples/right_bar_small.html' %}
    </div>
    <div class="main-info">
        <h1>{% translate "Сервисные центры" %}</h1>
        <p>{% translate "Moby – самый большой онлайн-ритейлер в стране. С 2005 года мы воплощаем маленькие мечты и грандиозные планы миллионов людей. У нас можно найти буквально все. Мы продаем по справедливой цене и предоставляем гарантию, так как считаем, что онлайн-шопинг должен быть максимально удобным и безопасным. И каждый раз, когда кто-то нажимает «Купить», мы понимаем, что делаем нужное дело." %}</p>
        <img class="banner" src="{% static 'shop/images/banner_note.jpg' %}">
        <h3>{% translate "Адреса и телефоны" %}</h3>
        <h4>{% translate "Амати сервис" %}</h4>
        <p>{% translate "Бориспольская, 9" %}</p>
        <p>{% translate "корпус 57" %}</p>
        <p>380 (044) 369 50 30</p>
        <p>380 (044) 369 50 30</p>
        <p>380 (044) 369 50 30</p>
        <h3>{% translate "Адреса и телефоны" %}</h3>
        <h4>{% translate "Амати сервис" %}</h4>
        <p>{% translate "Бориспольская, 9" %}</p>
        <p>{% translate "корпус 57" %}</p>
        <p>380 (044) 369 50 30</p>
        <p>380 (044) 369 50 30</p>
        <p>380 (044) 369 50 30</p>
        </div>

{% endblock %}
