{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link type="text/css" href="{% static 'shop/css/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="{% static 'shop/js/base.js' %}" charset="UTF-8"></script>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript">

            var user = '{{request.user}}'
            function getToken(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getToken('csrftoken');

            function getCookie(name){
                // Split cookie string and get all individual name=value pairs in an array
                var cookieArr = document.cookie.split(";");
                //Loop through the array elements
                for(var i = 0; i < cookieArr.length; i++){
                    var cookiePair = cookieArr[i].split("=");

                    /* Removing whitespace at the beginning of the cookie name and
                    compare it with the given string */
                    if(name == cookiePair[0].trim()){
                        // Decode the cookie value and return

                        return decodeURIComponent(cookiePair[1]);
                    }
                }

                // return null if not found
                return null;
            }
            var cart = JSON.parse(getCookie('cart'));

            if(cart == undefined){
                cart = {}
                console.log('Cart was created!')
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
            }
            console.log('Cart:', cart)

        </script>
    </head>

    <body>
    {% include 'shop/samples/register_box.html' %}
    <!-- main menu -->
        <div class="header">
            {% include 'shop/samples/base_popup_menu.html' %}

            <a id="m-icon" href="{% url 'shop:home' %}" class="main-icon">
                <img class="menu-btn" src="{% static 'shop/images/main_icon.png' %}">
                <div>BE SMART!</div>
            </a>

            {% include 'shop/samples/catalog_menu.html' %}

            <form class="menu-find" action="{% url 'shop:search_results' %}" method="get">
                <input name="q" type="text" placeholder={% translate "Поиск..." %} size="40">
            </form>

            <div id="lang" class="menu-lang">
                {% include 'shop/samples/lang_selection.html' %}
            </div>

            {% if user.is_authenticated %}
                <a href="{% url 'shop:user_account' user.id %}" class="menu-btn" style="text-decoration:none">{{ user }}</a>

                <a href="{% url 'shop:logout' %}">
                    <img class="menu-btn" src="{% static 'shop/images/white_logout.png' %}">
                </a>

            {% else %}

            <img class="menu-btn" id="registration" src="{% static 'shop/images/members.webp' %}">

            {% endif %}
            <a href="{% url 'shop:cart' %}" style="text-decoration: none">
                <div style="display:flex; flex-direction:row">
                    <img class="menu-btn" src="{% static 'shop/images/white_basket.png' %}" style="margin-right:3px">
                    <div class="cart-basket-item">{{ cartItem }}</div>
                </div>
            </a>
        </div>
    <!-- end main menu -->

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>


        {% if footer %}
            <div class="footer">
                <div class="footer-line">

                </div>
                <div class="footer-info">

                </div>
                <div class="footer-underline">

                </div>
            </div>
        {% endif %}
    <script type="text/javascript" src="{% static 'shop/js/cart.js' %}"></script>
    </body>
</html>