{% extends 'shop/base.html' %}
{% load static %}
{% load shop_tags %}
{% load i18n %}

{% block content %}
{% include 'shop/samples/right_bar.html' %}

    <div class="main-info-wrapper">
        {% if category %}
        <div class="navigation">
                <a href="{% url 'shop:home' %}">
                    <img class="menu-btn" src="{% static 'shop/images/main_icon.png' %}" style="width:20px; height:20px; margin-right:10px;">
                </a>
                <div>></div>
                <a href="{% url 'shop:super_category' category.super_category.id %}">{{ category.super_category.name }}</a>
                <div>></div>
                <div>{{ category.name }}</div>
            </div>
        {% endif %}
    <div class="main-info">
        <div class="title">{{ title }}</div>
        <img class="banner" src="{% static 'shop/images/banner_note.jpg' %}">


        <div class="filter-category">
            <div class="menu-down">
                <div id="filter-text" class="filter-button">{% translate "Фильтр" %}</div>
                <div id="filter-menu" class="menu-down-content">
                    <div class="menu-down-content-items">
                        <form class="filter-main" action="{% url 'shop:category' category.slug %}" method="post">
                            {% csrf_token %}
                            <div style="display:flex; flex-direction:row; flex-wrap:wrap">{{ brand_filter_form.as_p }}</div>
                            <div>
                                <div style="margin-left:0px;">{% translate "Цена" %}</div>
                                {{ price_filter_form.as_p }}
                            </div>
                            <div class="filter-form-button">
                            <input type="submit" value={% translate "Применить" %} class="filter-button">
                            <div id="filter-close" class="filter-button">{% translate "Закрыть" %}</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <a id="" href="{% url 'shop:category' category.slug %}" class="filter-button">{% translate "Сбросить" %}</a>
        </div>

        {% include 'shop/samples/product_list.html' %}
    </div>

    </div>
{% endblock %}
