{% extends 'shop/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="cart">
        {% if order.get_order_items %}
        <div class="cart-head">
            <form id="form" method="post" style="width:90%">
                {% csrf_token %}
                <div class="checkout-form">
                    {{ checkout_form.as_p }}
                </div>
                <button id="form-button" type="submit">{% translate "Оплатить" %}</button>

            </form>
            <div id="payment-info" class="checkout-payment">
                <div>{% translate "Опции оплаты, PayPall" %}</div>
            </div>


            <hr style="height:1px; background-color:rgb(220,220,220); border:none; width:98%">
        </div>
        {% endif %}

        {% include 'shop/samples/cart_sample.html' %}
    </div>
    <script type="text/javascript">
        var form = document.getElementById('form')
        if(form){
        form.addEventListener('submit', function(e){
            document.getElementById('form-button').classList.add('hidden')
            document.getElementById('payment-info').classList.add('flex')
        })}
    </script>

{% endblock %}
