{% load static %}

html, body {
    margin: 0;
    padding: 0;
}
/* pop-up window */
#shadow {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.window {
    width: 400px;
    height: 300px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #3E3D53;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}
.window-login {
    display: block;
    width: 100%;
    height: 100%;
}
.window-register {
    display: none;
    width: 100%;
    height: 100%;
}
.close-window {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-direction: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor: pointer;
}
.register {cursor: pointer;}
.sign-in {
    cursor: pointer;
    margin-top: 25px;
}
.form-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.close:hover {background: #e6e6ff;}
/* catalog menu */
.catalog-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    z-index: 1;
}
.catalog-down {
    position: relative;
    display: inline-block;
}
/* end catalog menu */
/* Header classes */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #3E3D53;
}
.main-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-decoration: none;
}
.catalog-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-decoration: none;
}
.main-icon-grey {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: grey;
    text-decoration: none;
}
.menu-find {
    margin-left: 50px;
}
.menu-down {
    position: relative;
    display: inline-block;
}
.menu-down a:hover {
    background-color: #ddd;
}
.menu-down-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    z-index: 2;
}
.menu-down-content-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}
.menu-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    cursor: pointer;
    color: white;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.menu-btn-close {
    cursor: pointer;
}
.menu-btn-down {
    margin: 7px;
    cursor: pointer;
}
.show {
    display: block;
}
.menu-lang {
    display: flex;
    flex-direction: row;
}
.menu-lang button {


}
/* forms */
.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
/* Content classes */
.content {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: start;
}
.right-bar {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 20%;
    margin-left: 20px;
}
.right-bar a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin: 10px;
    color: #3E3D53;
}
.filter {
    display: flex;
    flex-direction: column;
}
.filter-category {
    display: none;
    flex-direction: row;
    width: 100%;
    margin-left: 20px;
}
.filter-button {
    display: flex;
    box-shadow: 3px 3px 3px 3px rgb(200,200,200);
    cursor: pointer;
    margin: 10px;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    border: none;
    font-family: "Fira Code";
    font-size: 16px;
    color: #3E3D53;
}
.filter-form-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.filter-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 300px;
    width: 50vw;
}
.filter-main div, p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
}
.filter-main a {
    text-decoration: none;
    color: #3E3D53;
}
.filter-main input {
    margin-left: 3px;
}
.main-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin-top: 10px;
}
.main-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-info-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    justify-content: center;
}
.main-info-content a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgb(200,200,200);
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}
.main-info-content-price {
    font-size: 20px;
}
.main-info-content-img {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 70%;
}
.title {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(240,240,240);
    color: grey;
}
.welcome p {
    margin: 20px;
    text-align: center;
}
.welcome button {
    margin-bottom: 10px;
    color: white;
    background-color: #3E3D53;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    cursor: pointer;
}
/* pagination */
.pagination {
    display: flex;
    flex-direction: row;
}
.paginator-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius:15px;
    font-size: 22px;
    box-shadow: 2px 2px 2px 2px rgb(200,200,200);
    text-decoration: none;
    margin: 5px;
}
.paginator-dot {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 5px;
}
/* end pagination */
/* product view */
.product-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #3E3D53;
}
.product {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.navigation {
    display: flex;
    flex-direction: row;
    width: 97%;
    margin-top: 5px;
}
.banner {
    width: 70vw;
}
.navigation a, div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
}
.product-review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}
.product-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #f1f1f1;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 5px 5px 5px 5px rgb(200,200,200);
}
.product-menu div {
    margin-right: 3vw;
    margin-left: 1vw;
}
.product-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    width: 100%;
}
.product-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}
.product-information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    width: 100%;
}
.product-info-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    min-width:300px;
}
.product-info-review {
    display: flex;
    flex-direction: column;
    width: 30vw;
    min-width: 300px;
}
.product-info-features {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: auto;
    max-width: 40%;
    margin-right: 20px;
}
.product-info-features-elem {
    height: 40px;
}
.product-main-photo {
    margin-top: 10px;
    width: 25vw;
    height: auto;
}
.product-photo {
    width: auto;
    height: auto;
    max-height: 100%;
}
.p-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    vertical-align: top;
    width: 98vw;
}
.availability {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 160px;
    height: 40px;
    color: green;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgb(200,200,200);
}
#product-in-cart {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: red;
    width: 320px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid red;
}
.price {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    width: 50vw;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgb(200,200,200);
}
.product-basket-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 160px;
    height: 40px;
    background: #3E3D53;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
/* review */
.review {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid rgb(240,240,240);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgb(200,200,200);
    max-width: 600px;
    width: 100%;
    margin: 10px;
}
.review-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-bottom: 0px;
    width: 100%;
}
.like-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background: none;
    color: #0000cc;
    cursor: pointer;
}
.like-button img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
#id_review_text {
    width: 99%;
}
/* rating */
/* readonly star rating */
.star-ratings-css {
  display: flex;
  flex-direction: row;
  align-items: center;
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 18px;
  height: 25px;
  width: 80px;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
}
.star-ratings-css::before {
  content: '★★★★★';
  opacity: .3;
}

[title="0"]::after {
  width: 0%;
}
[title="1"]::after {
  width: 10%;
}
[title="2"]::after {
  width: 20%;
}
[title="3"]::after {
  width: 30%;
}
[title="4"]::after {
  width: 40%;
}
[title="5"]::after {
  width: 50%;
}
[title="6"]::after {
  width: 60%;
}
[title="7"]::after {
  width: 70%;
}
[title="8"]::after {
  width: 80%;
}
[title="9"]::after {
  width: 90%;
}
.star-ratings-css::after {
  color: gold;
  content: '★★★★★';
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top:0;
  width: attr(rating);
  overflow: hidden;
}
/* end readonly star rating */
/* new star rating */
@import "compass/css3";

$rad: 8px;

.rating {
	background: #fff;
}
.rating input[type="radio"] {
	position: fixed;
	top: 0;
	right: 100%;
}
.rating label {
	font-size: 1.5em;
	padding: 0.5em;
	margin: 0;
	float: left;
	cursor: pointer;
	@include transition(0.2s);
}
.rating input[type="radio"]:checked ~ input + label {
	background: none;
	color: #004C99;
}
.rating input + label {
	background: #fff;
	color: gold;
	margin: 0 0 1em 0;
}
.rating input + label:first-of-type {
	border-top-left-radius: $rad;
	border-bottom-left-radius: $rad;
}
.rating input:checked + label {
	border-top-right-radius: $rad;
	border-bottom-right-radius: $rad;
}
/* end new star rating */
/* start cart */
.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font-family: Georgia, serif;
}
.cart-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
    box-shadow: 10px 10px 10px 10px rgb(200,200,200);
    margin-top: 50px;
}
.cart-head a, button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    width: 200px;
    height: 40px;
    text-decoration: none;
    color: black;
    margin: 5px;
    background-color: white;
    font-family: Georgia, serif;
    font-size: 16px;
}
.cart-head a:hover, button:hover {
    background-color: green;
}
.cart-head-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 5px;
    font-weight: bold;
}
.cart-info-legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80px;
}
.cart-info-legend-int {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 120px;
}
.cart-button {
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    width: 200px;
    height: 40px;
    text-decoration: none;
    color: black;
    margin-left: auto;
    margin-right: auto;
}
.cart-quantity {
    margin: 2px;
    width: 15px;
    height: 15px;
}
.cart-basket-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    font-size: 10px;
}
.checkout-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75vw;
    max-width: 900px;
}
.checkout-form p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25vw;
    max-width: 300px;
    min-width: 260px;
}
.checkout-payment {
    display: flex;
    width: 880px;
}
.checkout-payment div {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
}
/* account page */
.user-account-form {
    width: 400px;
    margin: 10px;
}
.user-account-form p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.user-account-form input {
    border: none;
    border-radius: 3px;
    background-color: rgb(180,180,180);
}
.account-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.account-order {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgb(200,200,200);
    padding-top: 5px;
    padding-bottom: 5px;
}
.account-order-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgb(200,200,200);
    padding-top: 5px;
    padding-bottom: 5px;
}
.account-order-label-total {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
}
.account-order-and-sale {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.account-order-and-sale div {
    width: 170px;
}
.account-orderitem-product-name {
    width: 280px;
}
.account-orderitem-product-info {
    display: flex;
    flex-direction: row;
    width: 230px;
}
.account-orderitem-product-info div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.account-orderitem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}
/* end account page */
/* admin */
.admin-login p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 380px;
}
/* end admin */
@media(max-width: 1100px){
/* menu */
.menu-find input {
    width: 160px;
}
.menu-find {
    margin-left: 0px;
}
.main-icon div {
    display: none;
}
.catalog-icon div {
    display: none;
}
#cat-text {
    display: none;
}
.main-icon-grey button {
    width: 100px;
}
/* end menu */
#window-right-bar {
    display: none;
}
#right-bar-small {
    display: none;
}
.banner {
    width: 95vw;
}
.main-info-content a {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 7px 7px 7px 7px rgb(200,200,200);
    padding: 10px;
    margin: 10px;
    font-size: 14px;
}
.main-info-content-price {
    font-size: 18px;
}
.main-info-content-img {
    width: auto;
    height: auto;
    max-width: 70%;
    max-height: 60%;
}
.filter-category {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 20px;
}
/* product */
.product-info-description {
    width: 100%;
}
.product-info-review {
    width: 70%;
}
.product-main-photo {
    width: 40vw;
    height: auto;
}
.price {
    width: 90vw;
}
/* end product */
/* cart */
.cart-head {
    width: 660px;
    font-size: 14px;
}
.cart-head a, button {
    width: 180px;
    height: 40px;
    font-size: 14px;
}
.cart-info-legend-int {
    width: 100px;
}
.checkout-form {
    width: 55vw;
    max-width: 680px;
    font-size: 14px;
}
.checkout-form p {
    width: 25vw;
    max-width: 300px;
    min-width: 240px;
}
.checkout-form input {
    font-size: 14px;
    width: 150px;
}
/* end cart */
.user-account-form input, a {
    font-size: 12px;
}
@media(max-width: 680px) {
/* menu */
#m-icon {
    display: none;
}
.header {
    height: 35px;
}
.menu-find input {
    width: 60px;
}
#lang {
    display: none;
}
.catalog-icon {
    display: none;
}
.title {
    font-size: 22px;
    margin: 5px;
}
.navigation a, div {
    margin-right: 3px;
}
.menu-btn {
    width: 20px;
    height: 20px;
}
.content {
    font-size: 12px;
}
.filter-button {
    font-size: 12px;
}
.paginator-item {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 1px 1px 1px 1px rgb(200,200,200);
    margin: 2px;
}
.paginator-dot {
    width: 30px;
    height: 30px;
    font-size: 10px;
}
/* end menu */
.main-info-content a {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgb(200,200,200);
    padding: 5px;
    margin: 5px;
    font-size: 10px;
}
.main-info-content-price {
    font-size: 14px;
}
.main-info-content-img {
    width: auto;
    height: auto;
    max-width: 65%;
    max-height: 53%;
}
/* product */
.product-info-features-elem {
    height: 60px;
}
.product-main-photo {
    max-width: 50%;
    max-height: 60%;
}
.product-basket-button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
}
.availability {
    width: 100px;
    height: 30px;
    border-radius: 3px;
}
.product-info-review {
    width: 50%;
}
/* end product */
/* review */
.like-button img {
    height: 10px;
    width: 10px;
    margin-right: 3px;
}
/* end review */
/* account page */
.account-orderitem-product-name {
    width: 200px;
}
.account-orderitem-product-info {
    display: none;
}
.account-order-and-sale {
    width: 27vw;
}
.account-order-and-sale div {
    width: 120px;
}
.user-account-form input {
    font-size: 12px;
}
.user-account-form input, a {
    font-size: 12px;
}
/* end account page */
/* cart */
.cart-head {
    width: 460px;
    box-shadow: 5px 5px 5px 5px rgb(200,200,200);
    margin-top: 30px;
    font-size: 12px;
}
.cart-head a, button {
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-size: 12px;
}
.cart-info-legend {
    width: 95%;
    height: 70px;
}
.cart-info-legend-int {
    width: 90px;
}
.checkout-form {
    width: 50vw;
    max-width: 680px;
    font-size: 12px;
}
.checkout-form p {
    width: 25vw;
}
.checkout-form input {
    font-size: 12px;
    width: 150px;
}
/* end cart */

@media(max-width: 480px) {
.window {
    width: 300px;
}

.content {
    margin-left: 3px;
}

/* product */
.product-info-features-elem {
    height: 100px;
}
.title {
    font-size: 18px;
}
.navigation a, div {
    font-size: 10px;
}
/* end product */
/* account page */
.user-account-form {
    width: 300px;
}
.account-order-label {
    display: none;
}
/* end account page */
/* cart */
.cart-head {
    width: 380px;
    box-shadow: 5px 5px 5px 5px rgb(200,200,200);
    margin-top: 20px;
    font-size: 10px;
}
.cart-head a, button {
    border: 1px solid rgb(200,200,200);
    border-radius: 2px;
    width: 120px;
    height: 20px;
    margin: 2px;
    font-size: 10px;
}
.cart-head-info {
    margin: 2px;
}
.cart-info-legend {
    width: 98%;
    height: 70px;
}
.cart-info-legend-int {
    width: 70px;
}
.checkout-form {
    width: 50vw;
    max-width: 680px;
    font-size: 10px;
}
.checkout-form input {
    font-size: 10px;
}
.checkout-form p {
    width: 30vw;
}
/* end cart */
/* account */
.account-order-and-sale {
    width: 23vw;
}
.account-order-and-sale div {
    width: 80px;
}
.account-order-label-total {
    width: 40px;
}
.user-account-form input {
    font-size: 10px;
}
#form {
    margin-left: 10px;
}
/* end account */

