{% load static %}
{% load i18n %}

<!-- catalog menu with downfall -->
<div class="menu-down" style="margin-left:10px">
    <div class="menu-btn" onclick="popupCatalogBtnFunction()">
        <img class="menu-btn" src="{% static 'shop/images/grey_stock.png' %}">
        <div class="menu-btn" style="margin-right:30px; color:grey">{% translate "КАТАЛОГ" %}</div>
    </div>
    <div id="popupCatalogDown" class="menu-down-content">
        <div class="menu-down-content-items">
            <div class="right-bar">
            {% for super_category in super_categories %}
                <a href="{{ super_category.get_absolute_url }}" style="min-width: 250px">
                <img src="{{ super_category.icon.url }}" width="18" height="18">
                <div style="margin-left:10px">{{ super_category }}</div>
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- end of catalog menu with downfall -->
