{% load static %}
{% load shop_tags %}

<div class="main-info-content">
    {% if products %}
        {% for product in products %}
            <a href="{{ product.0.get_absolute_url }}">
                <div>{{ product.0.name | hide_brackets }}</div>
                {% if product.1 %}
                    <img src="{{ product.1.url }}" class="main-info-content-img">
                {% endif %}
                <div class="main-info-content-price">{{ product.0.price }}</div>
            </a>
        {% endfor %}
    {% endif %}
</div>

{% include 'shop/samples/paginator.html' %}
