{% load static %}
{% load i18n %}

<!-- menu for registration and login with shadows -->
<div id="shadow">
    <div class="window">
        <!-- login window with shadowed all the screen -->
        <div id="log" class="window-login">
            <div class="form-title">
                <h3>{% translate "Вход" %}</h3>
                <img class="menu-btn-close" src="{% static 'shop/images/black_close_icon.png' %}" width="15" height="15">
            </div>
            <form action="{% url 'shop:login' %}" method="post">
                {% csrf_token %}
                <div class="form-errors">{{ user_login_form.non_field_errors }}</div>
                {% for f in user_login_form %}
                    <div class="form"><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</div>
                    <div class="form-errors">{{ f.errors }}</div>
                {% endfor %}
                <input class="form" type="submit" value="Ok" style="display:flex; flex-direction:row; justify-content:center; width:60px">
            </form>
            <div class="form-title">
                <div class="register">{% translate "Зарегистрироваться" %}</div>
                <a href="{% url 'shop:password_reset' %}" style="text-decoration:none">{% translate "Напомнить пароль" %}</a>
            </div>
        </div>
        <!-- end of login window -->
        <!-- registration window with shadowed all the screen -->
        <div id="reg" class="window-register">
            <div class="form-title">
                <h3>{% translate "Регистрация" %}</h3>
                <img class="menu-btn-close" src="{% static 'shop/images/black_close_icon.png' %}" width="15" height="15">
            </div>
            <form action="{% url 'shop:registration' %}" method="post">
                {% csrf_token %}
                <div class="form-errors">{{ user_form_creation.non_field_errors }}</div>
                {% for f in user_creation_form %}
                    <div class="form"><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</div>
                    <div class="form-errors">{{ f.errors }}</div>
                {% endfor %}
                <input class="form" type="submit" value={% translate "Сохранить" %}>
            </form>
            <div class="sign-in">{% translate "Я уже зарегистрирован" %}</div>
        </div>
        <!-- end of registration window -->
    </div>
</div>
    <!-- end of menu for registration and login -->