{% load static %}
{% load i18n %}

<div id="window-right-bar" class="right-bar">
    {% if super_category_flag %}
        {% for super_category in super_categories %}
            <a href="{{ super_category.get_absolute_url }}">
                <img src="{{ super_category.icon.url }}" width="18" height="18">
                <div style="margin-left:10px">{{ super_category }}</div>
            </a>
        {% endfor %}
    {% endif %}
    {% if category_flag %}
        {% for category in categories %}
                <a href="{{ category.get_absolute_url }}">
                    {% if category.picture %}
                    <div><img src="{{ category.picture.url }}" style="width:auto; height:auto; max-width:20px; max-height:20px"></div>
                    {% endif %}
                    <div style="margin-left:10px">{{ category }}</div>
                </a>
        {% endfor %}
    {% endif %}
    {% if category %}
    <hr style="height:1px; background-color:rgb(220,220,220); border:none; width:94%">
    <div class="filter">

        {% translate "Фильтр" %}
        <form class="filter-main" style="flex-direction:column; min-width:none; width:auto" action="{% url 'shop:category' category.slug %}" method="post">
            {% csrf_token %}
            {{brand_filter_form.as_p }}
            <div>{% translate "Цена" %}</div>
            {{ price_filter_form.as_p }}
            <input type="submit" value={% translate "Применить" %} style="width:100px; border:none; background-color:white; font-family:'Fira Code'; font-size:16px; cursor:pointer">
            <a href="{% url 'shop:category' category.slug %}">{% translate "Сбросить" %}</a>
        </form>
    </div>
    {% endif %}




    <hr style="height:1px; background-color:rgb(220,220,220); border:none; width:94%">
    <a href="{% url 'shop:contacts' %}">
        <img src="{% static 'shop/images/grey_question.png' %}" width="18" height="18">
        <div style="margin-left:10px">{% translate "Справочный центр" %}</div>
    </a>
    <hr style="height:1px; background-color:rgb(220,220,220); border:none; width:94%">
    <a href="{% url 'shop:delivery' %}">
        <img src="{% static 'shop/images/grey_stock.png' %}" width="18" height="18">
        <div style="margin-left:10px">{% translate "Точки выдачи" %}</div>
    </a>
    <hr style="height:1px; background-color:rgb(220,220,220); border:none; width:94%">
    {% if not user.is_authenticated %}
        <div class="welcome">
            <p>{% translate "Добро пожаловать!" %}</p>
            <p>{% translate "Войдите, чтобы получать рекомендации, персональные бонусы и скидки" %}</p>
            <button style="height:40px" id="registration">{% translate "Войдите в личный кабинет" %}</button>
        </div>
        <hr style="height:1px; background-color:rgb(220,220,220); border:none; width:94%">
    {% endif %}
    <div class="main-icon-grey" style="margin:10px">{% translate "Мы в социальных сетях" %}</div>
    <div class="main-icon" style="justify-content:space-around">
        <a href="https://uk-ua.facebook.com/" ><img src="{% static 'shop/images/Facebook.svg' %}" height="30" width="30"></a>
        <a href="https://www.instagram.com/" ><img src="{% static 'shop/images/Instagram.svg' %}" height="30" width="30"></a>
        <a href="https://web.telegram.org/" ><img src="{% static 'shop/images/Telegram.svg' %}" height="30" width="30"></a>
        <a href="https://www.twitter.com/" ><img src="{% static 'shop/images/Twitter.svg' %}" height="30" width="30"></a>
        <a href="https://www.youtube.com/" ><img src="{% static 'shop/images/Youtube.svg' %}" height="30" width="30"></a>
    </div>
    <hr style="height:1px; background-color:rgb(220,220,220); border:none; width:94%">
    {% include 'shop/samples/right_bar_small.html' %}
    <hr style="height:1px; background-color:rgb(220,220,220); border:none; width:94%">
</div>