{% load static %}
{% load i18n %}


   <div class="main-icon-grey" style="margin:10px">{% translate "Информация о комании" %}</div>
    <a href="{% url 'shop:about' %}" class="main-icon-grey" style="margin:10px">{% translate "О нас" %}</a>
    <a href="{% url 'shop:terms' %}" class="main-icon-grey" style="margin:10px">{% translate "Условия использования сайта" %}</a>
    <a href="{% url 'shop:contacts' %}" class="main-icon-grey" style="margin:10px">{% translate "Контакты" %}</a>
    <a href="{% url 'shop:help' %}" class="main-icon-grey" style="margin:10px">{% translate "Помощь" %}</a>
    <a href="{% url 'shop:delivery' %}" class="main-icon-grey" style="margin:10px">{% translate "Доставка и оплата" %}</a>
    <a href="{% url 'shop:credit' %}" class="main-icon-grey" style="margin:10px">{% translate "Кредит" %}</a>
    <a href="{% url 'shop:return_products' %}" class="main-icon-grey" style="margin:10px">{% translate "Возврат товара" %}</a>
    <a href="{% url 'shop:service_centers' %}" class="main-icon-grey" style="margin:10px">{% translate "Сервисные центры" %}</a>
    <a href="{% url 'shop:for_partners' %}" class="main-icon-grey" style="margin:10px">{% translate "Партнерам" %}</a>
